
<app-todo-list-header
  [todoTitle]="todoTitle" (handleAddTodo)="todoService.addTodo($event)">
</app-todo-list-header>

<!-- *ngIf: 判斷布林值 -->
<ul class="todo-list" *ngIf="todos.length > 0">
  <!-- *ngFor: 跑迴圈 / 自訂一個 filter pipe: 篩選 Todos / ngClass: 設定 DOM 元素的 CSS class-->
  <!-- 或一次寫多種樣式: [class]="{completed: todo.isDone, editing: todo.isEditing}" -->
  <li *ngFor="let todo of todos | filter : filterType" @fade
    (change)="todoService.saveTodos()"
    [class.completed]="todo.isDone"
    [class.editing]="todo.isEditing"
  >
    <div class="todo-view">
      <input type="checkbox" class="input-toggle-todo" [(ngModel)]="todo.isDone">
      <label for="editInput" (click)="todoService.editTodo(todo, editInput)">{{todo.title}}</label>
      <button class="btn-destroy-todo" (click)="todoService.removeTodo(todo.id)"></button>
    </div>
    <input #editInput class="input-edit-todo" type="text"
      [(ngModel)]="todo.title"
      (blur)="todoService.doneEdit(todo)"
      (keyup.enter)="todoService.doneEdit(todo)"
    />
    <div class="todo-datetime">{{ todo.datetime }}</div>
  </li>
</ul>

<app-todo-list-footer
  *ngIf="todos.length > 0"
  [todos]="todos"
  (clearCompleted)="todoService.clearCompleted()"
  (filterTypeChanged)="todoService.filterTypeChanged($event)">
</app-todo-list-footer>
