<div class="pomodoro-wrapper">
  <div class="pomodoro-header">
    <div class="timer">
      <div class="timer-type">{{ timerType }}</div>
      <div class="timer-left">
        {{ showMinutes }}:{{ showSeconds }}
      </div>
      <div class="timer-buttons">
        <button class="timer-start-btn"
          *ngIf="timerStatus === 'PAUSE' || timerStatus === 'STOP'"
          (click)="startTimer()"
        ><mat-icon>play_arrow</mat-icon></button>
        <button class="timer-pause-btn"
          *ngIf="timerStatus === 'COUNTING'"
          (click)="pauseTimer()"
        ><mat-icon>pause</mat-icon></button>
        <button class="timer-reset-btn"
          (click)="resetTimer()"
        ><mat-icon>cached</mat-icon></button>
      </div>
    </div>
  </div>

  <div class="pomodoro-footer">
    <div class="focus-length">
      <label class="focus-length-title">Focus Length</label>
      <div class="length-controller">
        <button class="decrement-btn" (click)="decrementFocusTime()"><mat-icon>remove</mat-icon></button>
        <p class="time-length">{{ focusTime }}</p>min
        <button class="increment-btn" (click)="incrementFocusTime()"><mat-icon>add</mat-icon></button>
      </div>
    </div>
    <div class="break-length">
      <label class="break-length-title">Break Length</label>
      <div class="length-controller">
        <button class="decrement-btn" (click)="decrementBreakTime()"><mat-icon>remove</mat-icon></button>
        <p class="time-length">{{ breakTime }}</p>min
        <button class="increment-btn" (click)="incrementBreakTime()"><mat-icon>add</mat-icon></button>
      </div>
    </div>
  </div>

</div>
