<div class="pomodoro-wrapper">
  <div class="pomodoro-header">
    <div class="timer">
      <label class="timer-left-time">25:00</label>
      <div class="timer-control">
        <Button class="timer-start-btn">Start</Button>
        <Button class="timer-pause-btn">Pause</Button>
      </div>
    </div>
  </div>

  <div class="pomodoro-footer">
    <div class="focus-length">
      <label class="focus-length-title">Focus</label>
      <div class="focus-length-controller">
        <button class="focus-increment">-</button>
        <p class="focus-length">25 min</p>
        <button class="focus-decrement">+</button>
      </div>
    </div>

  <div class="break-length">
    <label class="break-length-title">Break</label>
    <div class="break-length-controller">
      <button class="break-increment">-</button>
      <p class="break-length">5 min</p>
      <button class="break-decrement">+</button>
    </div>
  </div>
</div>
