<div class="wrapper">
  <!-- Tab 切換列 -->
  <mat-button-toggle-group value="Pomodoro">
    <mat-button-toggle (click)="appType = 'Pomodoro'" value="Pomodoro">Pomodoro <mat-icon>timer</mat-icon></mat-button-toggle>
    <mat-button-toggle (click)="appType = 'Todos'" value="Todos">Todos <mat-icon>edit</mat-icon></mat-button-toggle>
  </mat-button-toggle-group>

  <h1>{{ appType }}</h1>
  <div class="app-wrapper" [hidden]="appType === 'Todos'">
    <app-pomodoro></app-pomodoro>
  </div>
  <div class="app-wrapper" [hidden]="appType === 'Pomodoro'">
    <app-todo-list></app-todo-list>
  </div>
</div>
