<div class="todo-status">
  <span class="todo-count"><strong>{{todos.length}}</strong> item left</span>
  <ul class="filters">
    <li>
      <a class="selected" [ngClass]="{'selected': filterType === 'All'}" (click)="changeFilterType('All')">All</a>
    </li>
    <li>
      <a [ngClass]="{'selected': filterType === 'Active'}" (click)="changeFilterType('Active')">Active</a>
    </li>
    <li>
      <a [ngClass]="{'selected': filterType === 'Completed'}" (click)="changeFilterType('Completed')">Completed</a>
    </li>
  </ul>
  <button class="clear-completed" *ngIf="todos.length > 0" (click)="clearBtnOnClick()">Clear completed</button>
</div>
